/*------------------------------------*\
  Objects > Wrapper
\*------------------------------------*/

.o-wrapper {
  padding: double($base-spacing-unit) 0;
}

/**
 * Sticky footer
 */
.c-off-canvas-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .o-wrapper { flex: 1 0 auto; }
}


.disqus {
  padding-left: double($base-spacing-unit);
  padding-right: double($base-spacing-unit);
  width:100%;
  margin-top:20px;
  padding-top: 20px;
  border-top: 2px solid #97999e
}