/*------------------------------------*\
  Components > Tags
\*------------------------------------*/

.c-tags {
  a {
    display: inline-block;
    padding: quarter($base-spacing-unit) $base-spacing-unit;
    margin: 0 half($base-spacing-unit) quarter($base-spacing-unit) 0;

    font-size: $font-size-tiny;
    font-family: $font-base;
    line-height: $line-height-medium;

    background-color: $bg-color-gray;
    transition: $global-transition;

    @include attention() {
      text-decoration: none;
      background-color: $bg-color-gray;
    }
  }

  @include mq($until: tablet) {
    margin-bottom: $line-height-medium - half(quarter($line-height-medium));
  }
}

.tags > .label {
  > li:before {
    content: "";
  }

  > li {
    margin: 0;
    font-size: $font-size-small;
    font-weight: 300;
    display: inline;

    > a {
      display: inline-block;
      margin: 1px;
      color: #343a40;
      background-color: #e9ecef;
      border-radius: 3px;

      span {
        float: left;
        padding: .5px 5px;

        &.count {
          background-color: #dee2e6;
          border-radius: 0 3px 3px 0;
        }
      }
    }
  }
}
//
//.tags > .tag {
//  a {
//    color: $base-color;
//  }
//  time {
//    color: $base-lighten-color;
//    font-size: $small-font-size;
//    font-weight: 300;
//    margin-left: 3px;
//  }
//}